@import "../color/colors.less";
@import "../mixins/button.less";

.fluent-button{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: default;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    outline:none;

    .button-color(@LightBaseHighColor, @LightBaseLowColor, transparent);
    .button-disabled-color(@LightChromeDisabledLowColor, @LightChromeDisabledHighColor, transparent);
    .button-hover-color(@LightBaseHighColor, @LightListLowColor, transparent);
    .button-active-color(@LightBaseHighColor, @LightBaseMediumLowColor, @LightBaseLowColor);
    
    &.theme-dark{
        .button-color(@DarkBaseHighColor, @DarkBaseLowColor, transparent);
        .button-disabled-color(@DarkChromeDisabledLowColor, @DarkBaseLowColor, transparent);
        .button-hover-color(@DarkBaseHighColor, @DarkBaseLowColor, transparent);
        .button-active-color(@DarkBaseHighColor, @DarkBaseMediumLowColor, @DarkBaseLowColor);
    }

    &.theme-light{
        .button-color(@LightBaseHighColor, @LightBaseLowColor, transparent);
        .button-disabled-color(@LightChromeDisabledLowColor, @LightChromeDisabledHighColor, transparent);
        .button-hover-color(@LightBaseHighColor, @LightListLowColor, transparent);
        .button-active-color(@LightBaseHighColor, @LightBaseMediumLowColor, @LightBaseLowColor);
    }


}