@import "../color/colors.less";

.fluent-checkbox-wrap {
    position: relative;
    display: inline-block;
    cursor:default;
    &:active:hover > .fluent-checkbox-box {
        background-color: rgba(0,0,0,0.59765625);
    }

    &:hover > .fluent-checkbox-check {
        border: 1px solid black;
    }
}

.fluent-checkbox-box
{
    position: absolute; top:2px; left: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
}

.fluent-checkbox-check {
    position: absolute; top:2px; left: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    color: white;
    border: 1px solid transparent;
}


.fluent-checkbox-input {
    display:none;

    &:checked ~ .fluent-checkbox-box {
        color: transparent;
    }

    &:checked ~ .fluent-checkbox-check {
        background-color: rgb(41,143,204);
    }

    &:checked:active:hover ~ .fluent-checkbox-check {
        background-color: rgba(0,0,0,0.59765625);
    }

}
