// dark
@DarkAltHighColor: #FFFFFFFF;
@DarkAltLowColor: #FFFFFF33;
@DarkAltMediumColor: #FFFFFF99;
@DarkAltMediumHighColor: #FFFFFFCC;
@DarkAltMediumLowColor:#00000066;
@DarkBaseHighColor:#FFFFFFFF;
@DarkBaseLowColor:#FFFFFF33;
@DarkBaseMediumColor:#FFFFFF99;
@DarkBaseMediumHighColor:#FFFFFFCC;
@DarkBaseMediumLowColor:#FFFFFF66;
@DarkChromeAltLowColor:#F2F2F2FF;
@DarkChromeBlackHighColor:#000000FF;
@DarkChromeBlackLowColor:#00000033;
@DarkChromeBlackMediumLowColor:#00000066;
@DarkChromeBlackMediumColor:#000000CC;
@DarkChromeDisabledHighColor:#333333FF;
@DarkChromeDisabledLowColor:#858585FF;
@DarkChromeHighColor:#767676FF;
@DarkChromeLowColor:#171717FF;
@DarkChromeMediumColor:#1F1F1FFF;
@DarkChromeMediumLowColor:#2B2B2BFF;
@DarkChromeWhiteColor:#FFFFFFFF;
@DarkListLowColor:#FFFFFF19;
@DarkListMediumColor:#FFFFFF33;

// light
@LightAltHighColor: #FFFFFFFF;
@LightAltLowColor: #FFFFFF33;
@LightAltMediumColor: #FFFFFF99;
@LightAltMediumHighColor: #FFFFFFCC;
@LightAltMediumLowColor:#FFFFFF66;
@LightBaseHighColor:#000000FF;
@LightBaseLowColor:#00000033;
@LightBaseMediumColor:#00000099;
@LightBaseMediumHighColor:#000000CC;
@LightBaseMediumLowColor:#00000066;
@LightChromeAltLowColor:#171717FF;
@LightChromeBlackHighColor:#000000FF;
@LightChromeBlackLowColor:#00000033;
@LightChromeBlackMediumLowColor:#00000066;
@LightChromeBlackMediumColor:#000000CC;
@LightChromeDisabledHighColor:#CCCCCCFF;
@LightChromeDisabledLowColor:#7A7A7AFF;
@LightChromeHighColor:#CCCCCCFF;
@LightChromeLowColor:#F2F2F2FF;
@LightChromeMediumColor:#E6E6E6FF;
@LightChromeMediumLowColor:#F2F2F2FF;
@LightChromeWhiteColor:#FFFFFFFF;
@LightListLowColor:#00000019;
@LightListMediumColor:#00000033;